@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

.displayNone {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.container {
  height: 100vh;
  .row {
    height: 100%;
    .description {
      background-color: #e5d6fd;
      height: 100%;
    }
    .form {
      width: 100%;

      .formContainer {
        height: 100%;
        display: grid;
        align-content: center;
        width: 100%;
        margin-top: -10%;
      }
    }
  }
}
