[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
djangorestframework = "*"
dj-rest-auth = "*"
djangorestframework-simplejwt = "*"
drf-spectacular = "*"
psycopg2-binary = "*"
django-better-admin-arrayfield = "*"
pillow = "*"

[dev-packages]
pylint-django = "*"
black = "==20.8b1"

[requires]
python_version = "3.9"
