{% extends 'core/base.html' %}

{% block title %}
  Diana - A Task Assistant
{% endblock %}


{% block body %}
  <h1>Welcome to Diana</h1>
  <h2>Diana try to help you live a better, organized days</h2>
  <ul>
    <p>Diana currently under development, check our progress in</p>
    <li><a href="https://github.com/softshapeorg/diana-server">Diana server</a></li>
    <li><a href="https://github.com/softshapeorg/diana-mobile">Diana mobile</a></li>
    <li><a href="https://www.figma.com/file/OVStyBsD5yMP7xy8vaH0KJ/Diana-design">Diana design</a></li>
  </ul>
{% endblock %}
